<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login-home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img class="ion-padding" src="../../assets/img/logo.png" alt="Manda OS Ai!">
  </ion-img>

  <div class="bottom-content-container ion-padding">
    <ion-button color="light" expand="block" shape="round" style="padding-bottom: 14px;" [routerLink]="['/login-cadastro']"
      routerDirection="forward">Login</ion-button>
    <ion-button color="light" expand="block" fill="outline" shape="round" [routerLink]="['/login-recovery']"
      routerDirection="forward">
      Recuperar Senha
    </ion-button>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar
    style="--background: transparent; --ion-color-base: transparent !important; text-align: center; border: none;">
    <ion-title style="color: white; font-size: 12px;">
      Todos os Direitos Reservados
    </ion-title>
  </ion-toolbar>
</ion-footer>