<ion-header>
  <ion-toolbar class="header-roxo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Mapa de OS</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home-config">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  
  <div class="footer-refresh">
    <ion-button expand="block" (click)="atualizarChamados()">
      Atualizar
    </ion-button>

    <div *ngIf="carregando" class="loading-msg">
      Carregando chamados...
    </div>
  </div>

</ion-content>