<ion-content>

  <!-- TOPO COM GRADIENTE -->
  <div class="header-gradiente">

    <ion-button fill="clear" class="btn-voltar" (click)="voltar()">
      <ion-icon name="close-outline" style="font-size: 30px;"></ion-icon>
    </ion-button>

    <h2 class="id-chamado">O.S - {{ chamado?.id }}</h2>

    <ion-badge class="status-badge">
      {{ chamado?.status }}
    </ion-badge>

    <!-- ICONES -->
    <div class="tabs-icones">
      <ion-icon name="people-outline" [class.active]="aba == 'dados'" (click)="alterarAba('dados')"></ion-icon>
      <ion-icon name="construct-outline" [class.active]="aba == 'tecnico'" (click)="alterarAba('tecnico')"></ion-icon>
      <ion-icon name="location-outline" [class.active]="aba == 'local'" (click)="alterarAba('local')"></ion-icon>
      <ion-icon name="camera-outline" [class.active]="aba == 'foto'" (click)="alterarAba('foto')"></ion-icon>
      <ion-icon name="create-outline" [class.active]="aba == 'assinatura'"
        (click)="alterarAba('assinatura')"></ion-icon>

    </div>

  </div> <!-- 👈 FECHAMENTO QUE FALTAVA AQUI !! -->

  <!-- CARD BRANCO ARREDONDADO -->
  <div class="conteudo-card" [class.sem-padding]="aba === 'local'">

    <!-- ABA DADOS PESSOAIS -->
    <div *ngIf="aba == 'dados'">

      <div class="info-bloco">
        <ion-item>
          <ion-label position="stacked">NOME</ion-label>
          <ion-input [value]="chamado?.nome" readonly></ion-input>
        </ion-item>
      </div>

      <div class="info-bloco">
        <ion-item lines="none" class="readonly-text">
          <ion-label position="stacked">ENDEREÇO</ion-label>
          <div class="texto">{{ chamado?.endereco }}</div>
        </ion-item>
      </div>

      <div class="info-bloco">
        <ion-item lines="none" class="readonly-text">
          <ion-label position="stacked">COMPLEMENTO</ion-label>
          <div class="texto">{{ chamado?.complemento }}</div>
        </ion-item>
      </div>

      <div class="info-bloco">
        <ion-item lines="full">
          <ion-label position="stacked">CONTATO</ion-label>

          <!-- INPUT READONLY + CLIQUE PARA LIGAR -->
          <ion-input readonly [value]="chamado?.contato" (click)="ligar(chamado?.contato)"></ion-input>

          <!-- BOTÃO WHATSAPP -->
          <ion-button fill="clear" slot="end" class="btn-whatsapp" (click)="abrirWhatsApp(chamado?.contato)">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>

        </ion-item>
      </div>

      <div class="info-bloco">
        <ion-item lines="none" class="readonly-text">
          <ion-label position="stacked">DESCRIÇÃO DO CHAMADO</ion-label>
          <div class="texto">{{ chamado?.descricao }}</div>
        </ion-item>
      </div>

    </div>

    <!-- ABA DADOS TÉCNICOS -->
    <div *ngIf="aba == 'tecnico'">

      <!-- LINHA 1 -->
      <div class="info-bloco">
        <div class="linha-dupla">
          <ion-item>
            <ion-label position="stacked">PLANO</ion-label>
            <ion-input readonly value="500MB"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked">CONEXÃO</ion-label>

            <div class="badge-conexao">
              <ion-badge [color]="chamado?.conexao === 'Online' ? 'success' : 'danger'">
                {{ chamado?.conexao || 'Sem dado' }}
              </ion-badge>
            </div>
          </ion-item>

        </div>
      </div>

      <!-- LINHA 2 -->
      <div class="info-bloco">
        <div class="linha-dupla">
          <ion-item>
            <ion-label position="stacked">STATUS</ion-label>
            <ion-input readonly value="Ativo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">CONTRATO</ion-label>
            <ion-input readonly value="23"></ion-input>
          </ion-item>
        </div>
      </div>

      <!-- LINHA 3 -->
      <div class="info-bloco">
        <div class="linha-dupla">
          <ion-item>
            <ion-label position="stacked">DOWNLOAD</ion-label>
            <ion-input readonly value="500Mbps"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">UPLOAD</ion-label>
            <ion-input readonly value="200Mbps"></ion-input>
          </ion-item>
        </div>
      </div>

      <!-- PPPoE USUÁRIO -->
      <div class="info-bloco">
        <ion-item button (click)="copiarTexto('asdaij2@goytanet.com.br')">
          <ion-label position="stacked">USUÁRIO PPPoE</ion-label>
          <ion-input readonly value="asdaij2@goytanet.com.br"></ion-input>
        </ion-item>
      </div>

      <!-- PPPoE SENHA -->
      <div class="info-bloco">
        <ion-item button (click)="copiarTexto('asdaij2@goytanet.com.br')">
          <ion-label position="stacked">SENHA PPPoE</ion-label>
          <ion-input readonly value="asdaij2@goytanet.com.br"></ion-input>
        </ion-item>
      </div>

    </div>

    <!-- ABA MAPA -->
    <div *ngIf="aba === 'local'" class="mapa-fullscreen">
      <div id="map"></div>

      <!-- Botão de navegação -->
      <ion-button fill="solid" class="btn-navegar" (click)="abrirMapaExterno()">
        Abrir no mapa
      </ion-button>
    </div>



    <!-- ABA FOTO -->
    <div *ngIf="aba == 'foto'" class="centro fotos-container">
      <ion-button (click)="tirarFotoMobile()" expand="full">📷 Tirar Foto</ion-button>
      <ion-button (click)="escolherFotoMobile()" expand="full" color="secondary">🖼️ Escolher da Galeria</ion-button>

      <!-- fallback para navegador -->
      <input type="file" accept="image/*" multiple (change)="onFileSelected($event)" />

      <ion-grid *ngIf="fotos.length > 0">
        <ion-row>
          <ion-col size="6" *ngFor="let foto of fotos">
            <img [src]="foto" class="foto-anexada" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



    <!-- ABA ASSINATURA -->
    <div *ngIf="aba == 'assinatura'" class="centro">
      <p>Assinatura digital…</p>
    </div>

  </div>

</ion-content>