body
{
    color: white;
}

ion-content {
    --background: #8a2be2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    color: white;
}

.header-roxo {
    --background: #8a2be2;
    color: white;
}