<div class="menu-header">
  <ion-avatar>
    <img src="https://asset.gecdesigns.com/img/wallpapers/smiling-anime-school-boy-with-backpack-ai-generated-wallpaper-sr08072437-cover.webp" alt="Usuário" />
  </ion-avatar>
  <h2>João da Silva</h2>
  <p>Técnico de Campo</p>
</div>

<ion-list>
  <ion-menu-toggle autoHide="true">
    <ion-item button routerLink="/home">
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle autoHide="true">
    <ion-item button routerLink="/home-list-os">
      <ion-icon slot="start" name="construct-outline"></ion-icon>
      <ion-label>Ordem de Serviço</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle autoHide="true">
    <ion-item button routerLink="/home-list-map">
      <ion-icon slot="start" name="map-outline"></ion-icon>
      <ion-label>Mapa Geral de OS</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle autoHide="true">
    <ion-item button routerLink="/home-config">
      <ion-icon slot="start" name="settings-outline"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-item>
  </ion-menu-toggle>

  <ion-menu-toggle autoHide="true">
    <ion-item button routerLink="/login-home">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-list>

<div class="menu-footer">
  © 2025 Manda OS Aí!
</div>
